#compiled
*.elc

# Packaging
.cask

# Autosaver
*~:w
*.*~
projectile.cache

#directories
/elpa/
/themes/
/auto-save-list/
/eshell/
/vimish-fold/

#files
session*
emacs*
\#*
ido.*
mc*
ido.last
*.eld
*.swp
/.mc-lists.el
rake.cache