#compiled
*.elc

# Packaging
.cask/
!.cask/cask.el

# Autosaver
*~:w
*.*~
projectile.cache

# Directories
/elpa/*
/auto-save-list/*
/eshell/*
/vimish-fold/*
/themes/*
/url/*
/.python-environments/*
themes/
var/
request/
/smex-items
semanticdb/
themes/
project-explorer-cache/
persp-confs/
backup.Cask/
elpy/*

# Files
.ac-comphist.dat
places
smex-items
bookmarks
session*
emacs*
\#*
ido.*
mc*
ido.last
*.eld
*.swp
/.mc-lists.el
rake.cache
*.log
recentf
.directory
abbrev_defs
tramp
.emacs-custom.el
network-security.data
anaconda-mode/
transient/
.lsp-session-v1
nov-places
ac-comphist.dat
todo.org_archive
GPATH
GRTAGS
GTAGS
TAGS
org-clock-save.el
